<?xml version="1.0"?> 
<config>
        <parameter name="cellsize" value="3.0" unit="mm"/>
        <parameter name="celledge" value="0.1" unit="mm"/>
        <parameter name="matrix" value="(32,32)"/>
        <parameter name="zplane" value="0.5" unit="mm"/>
	<parameter name="integrTime" value="200" unit="ns"/>
        <parameter name="phgain" value="0.10" />
        <parameter name="pde127nm" value="0.25" />
        <parameter name="pcross" value="0.07"/> 
</config>
